<mat-card>
  <mat-card-header>
    <mat-card-title>Despesa</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="form" [formGroup]="expenseForm" name="form" (ngSubmit)="onSubmit()" novalidate>

      <mat-form-field class="input-area" appearance="outline">
        <mat-label>Data</mat-label>
        <input matInput type="date" formControlName="data" name="data" required>
        <mat-error>A Data é obrigatória</mat-error>
      </mat-form-field>

      <mat-form-field class="input-area" appearance="outline">
        <mat-label>Valor</mat-label>
        <input matInput type="number" formControlName="valor" name="valor" min="0.01" #valor required>
        @if (expenseForm.controls['valor'].hasError('required')) {
        <mat-error>O Valor é <strong>obrigatório</strong></mat-error>
        }
        @if (expenseForm.controls['valor'].hasError('min')) {
        <mat-error>O Valor deve ser maior que <strong>0</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="input-area" appearance="outline">
        <mat-label>Parcelamento</mat-label>
        <input matInput type="number" formControlName="parcelas" name="parcelamento" min="1">

        @if (expenseForm.controls['parcelas'].hasError('min')) {
        <mat-error>Parcela deve ser maior que <strong>0</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="input-area" appearance="outline">
        <mat-label>Descrição</mat-label>
        <input matInput type="text" formControlName="descricao" name="descricao">
      </mat-form-field>

      <mat-form-field class="input-area" appearance="outline">
        <mat-label>Pagamento</mat-label>
        <mat-select formControlName="tipoPagamentoId" name="pagamento" required>
          <mat-option>--</mat-option>
          @for (payment of payment$ | async; track payment) {
          <mat-option [value]="payment.id">{{payment.tipo}}</mat-option>
          }
        </mat-select>
        @if (expenseForm.controls['tipoPagamentoId'].hasError('required')) {
        <mat-error>A forma de pagamento é <strong>obrigatória</strong></mat-error>
        }
        @if (expenseForm.controls['tipoPagamentoId'].hasError('min')) {
        <mat-error>Informe a forma de pagamento</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="input-area" appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select [formControl]="selectedCategory" name="categoria" required>
          <mat-option>--</mat-option>
          @for (categoria of expenseCategories$ | async; track categoria) {
          <mat-option [value]="categoria">{{categoria.descricao}}</mat-option>
          }
        </mat-select>
        @if (selectedCategory.hasError('required')) {
        <mat-error>Selecione uma categoria</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="input-area" appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipoDespesaId" name="tipo" required>
          <mat-option>--</mat-option>
          @for (tipo of selectedCategory.value?.tiposDespesas; track tipo) {
          <mat-option [value]="tipo.id">{{tipo.descricao}}</mat-option>
          }
        </mat-select>
        @if (expenseForm.controls['tipoDespesaId'].hasError('required')) {
        <mat-error>O Tipo de Despesa é <strong>obrigatório</strong></mat-error>
        }
        @if (expenseForm.controls['tipoDespesaId'].hasError('min')) {
        <mat-error>Informe o tipo de despesa</mat-error>
        }
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button color="warn" (click)="resetForm()">Fechar</button>
  </mat-card-actions>
</mat-card>
