.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  margin-top: 1rem;
}

.form .input-area {
  margin-right: 1rem;
}

button {
  margin-left: 1rem;
}

.full-width {
  width: 100%;
}

.expense-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
