mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-toolbar {
position: relative;
z-index: 5;
background: var(--middle-green-dark);
}

.content{
  padding: 24px;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}
