
<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <span> {{ title }} </span>
  <div class="spacer"></div>
  <button mat-button (click)="onLogout()">
    Sair
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

@if(isLoading()){
<mat-progress-bar mode="indeterminate" ></mat-progress-bar>
}

<mat-sidenav-container>

  <mat-sidenav mode="side" opened [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()" />
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
