<div class="dashboard-card">
  <div class="dashboard-card-content">
    <div class="card" [class]="backgroundTheme">
      <!-- [class.hide-header-text]= -->
      <div class="card-content">
        <div class="left">
          <span class="title">
            <h2> {{ dataCard().type }} - {{dataSig().value}}</h2>
          </span>
          <span [class]="valueTheme"><small>R$</small> {{ dataCard().value | number:'1.2' }} </span>
        </div>
        <div class="content-icon">
          <mat-icon> {{ iconName }} </mat-icon>
        </div>
      </div>
      <div class="card-actions">
        @if((dataCard().type === 'saldo')){
          &nbsp;
        } @else {
        <button mat-mini-fab class="add-button" [matTooltip]="dataCard().new" aria-label="Botão de novo valor">
          <mat-icon>add</mat-icon>
        </button>
      }
        <button mat-button class="nav-button" [matTooltip]="dataCard().tip" [routerLink]="dataCard().route">
          {{dataCard().tip}}
        </button>
      </div>
    </div>
  </div>
</div>
