<div class="dashboard-card">
  <div class="dashboard-card-content">
    <div class="card">
      <div class="card-content">
        <div class="left">
          <span class="title">
            <h2>Despesas</h2>
          </span>
          <span class="value"><small>R$</small> 99.999,99</span>
        </div>
        <div class="content-icon">
          <mat-icon>payments</mat-icon>
        </div>
      </div>
      <div class="card-actions">
        <button mat-mini-fab class="add-button" matTooltip="Nova Despesas" aria-label="Nova Despesa">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button class="nav-button" matTooltip="Ir para Despesas">
          Ir para as Despesas
        </button>
      </div>
    </div>
  </div>
</div>
