.container-table {
  min-height: 400px;
  max-width: 100%;
  overflow: auto;
  /* background-color: yellow; */
}

.full-width-table {
  min-height: 200px;
  width: 100%;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
    display: flex;
    flex-grow: 1;
    min-width: 100%;
}
