.container-table {
  min-height: 400px;
  max-width: 100%;
  overflow: auto;
}

.full-width-table {
  min-height: 200px;
  width: 100%;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
    display: flex;
    flex-grow: 1;
    min-width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
   cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background: rgba(154, 219, 156, 0.15)
}
