<div class="main">
  <div class="container">

    <span class="close-icon">
      <a routerLink="/home">
        <mat-icon>close</mat-icon>
      </a>
    </span>

    <div class="login form">
      <header>Login</header>

      <div class="sub-header">
        Que bom ter você aqui novamente!
        <p>Entre com os dados para acessar o sistema!</p>
      </div>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="input-area">
          <input type="text" placeholder="Entre com o usuário" name="username" [(ngModel)]="form.username" required
            #username="ngModel" autocomplete="username" [ngClass]="{ 'input-error': username.errors && f.submitted }">
        </div>

        <div class="invalid-feedback">
          @if (username.errors && f.submitted) {
          <div>* Usuário é obrigatório!</div>
          }
        </div>

        <div class="input-area">
          <input type="password" placeholder="Senha" name="password" [(ngModel)]="form.password" required minlength="6"
            #password="ngModel" [ngClass]="{ 'input-error': f.submitted && password.errors }"
            autocomplete="current-password" />

          @if (password.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (password.errors['required']) {
            <div>* Senha é obrigatória!</div>
            }
            @if (password.errors['minlength']) {
            <div>Senha deve ter ao menos 6 caracteres</div>
            }
          </div>
          }

          @if (isLoginFailed) {
          <div class="api-error"> {{ errorMessage }}</div>
          }

        </div>

        <div class="forget-pwd">
          <a href="#">Esqueceu a senha?</a>
        </div>

        <input type="submit" class="button" value="Entrar">

      </form>
      <div class="signup">
        <span class="signup">Não tem uma conta?
          <span class="name" routerLink="/register">Registrar</span>
        </span>
      </div>
    </div>

  </div>
</div>
