<mat-card>
  <mat-card-content>
    <div class="month-container">
      <section>
        <h4>Escolha o mês:</h4>
        <mat-button-toggle-group class="month-item" [formControl]="monthControl" (change)="changeInToggleGroup(monthGroup.value)" #monthGroup="matButtonToggleGroup" aria-label="Month">
          @for (item of months; track item) {
          <mat-button-toggle [value]="item.index" [aria-label]="item.name"> {{ item.name }} </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </section>
    </div>
  </mat-card-content>
</mat-card>
