
.mat-button-toggle-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  /* width: 99%; */
}
.mat-button-toggle {
  margin: 3px !important;
  width: 50px;
}
.mat-button-toggle:hover {
  background-color: var(--button-primary-hover);
}
.mat-button-toggle-checked {
  background-color: blue;
  color: white;
}

.custom-button-toggle
.mat-button-toggle-appearance-standard {
  background: var(--pale);
  color: black;
  border-radius: 5px;
}

.custom-button-toggle
.mat-button-toggle-appearance-standard:hover {
  background-color: var(--button-primary-hover);
}

.custom-button-toggle
.mat-button-toggle-checked {
  color: white;
  background-color: var(--middle-green-dark);
  font-weight: 500;
}
