<div class="selector-main">
  <div class="selector-container">
    <div class="selector-content selector-bg">
      <div class="selector-items">
        @for (year of activeYears(); track year) {
        <button
          [class]="'selector-year'"
          [class.selector-checked]="selectedYear() === year"
          (click)="onSelectYear(year)"
        >
          {{ year }}
        </button>
        }
      </div>
      <hr>
      <div class="selector-items">
        @for (item of months; track item) {
        <button
          [class]="'selector-item'"
          [class.selector-checked]="selectedMonth() === item.index"
          (click)="onSelectMonth(item.index)"
          [disabled]="monthDisabled(item.index)"
        >
          {{ item.name }}
        </button>
        }
      </div>
    </div>
  </div>
</div>
