<div class="grid-container">
  <!-- <h1 class="mat-h1">Painel</h1> -->
  <mat-grid-list cols="{{ ( cardLayout$ | async )?.columns }}" rowHeight="200px">

    <!-------------------- Income Totals Card -------------------->
    <mat-grid-tile
     [colspan]="( cardLayout$ | async )?.balanceCard?.cols"
      [rowspan]="( cardLayout$ | async )?.balanceCard?.rows"
    >
    <app-totals-card [type]="incomeTypeCard" [route]="incomeRoute" [value]="incomeValue()" [showRoute]="true" />
    </mat-grid-tile>

    <!-------------------- Expenses Totals Card -------------------->
    <mat-grid-tile
     [colspan]="( cardLayout$ | async )?.balanceCard?.cols"
      [rowspan]="( cardLayout$ | async )?.balanceCard?.rows"
    >
    <app-totals-card [type]="expenseTypeCard" [route]="expenseRoute" [value]="expensesValue()" [showRoute]="true" />
    </mat-grid-tile>

    <!-------------------- Balance Totals Card -------------------->
    <mat-grid-tile
     [colspan]="( cardLayout$ | async )?.balanceCard?.cols"
      [rowspan]="( cardLayout$ | async )?.balanceCard?.rows"
    >
    <app-totals-card [type]="balanceTypeCard" [route]="balanceRoute" [value]="balanceValue()" [showRoute]="true" />
    </mat-grid-tile>


    <!-------------------------- Charts --------------------------->

    <!-------------------- Income Chart -------------------->
    <mat-grid-tile
     [colspan]="( cardLayout$ | async )?.chart?.cols"
     [rowspan]="( cardLayout$ | async )?.chart?.rows"
    >
      <app-dashboard-card [title]="incomeTypeCard">
        @if(incomeValue() === 0){
          <app-nothing-yet [type]="incomeTypeCard"></app-nothing-yet>
        }
        @else {
        <app-expenses-chart></app-expenses-chart>
        }
      </app-dashboard-card>
    </mat-grid-tile>

    <!-------------------- Expenses Chart -------------------->

    <mat-grid-tile
     [colspan]="( cardLayout$ | async )?.chart?.cols"
     [rowspan]="( cardLayout$ | async )?.chart?.rows"
    >
      <app-dashboard-card [title]="expenseTypeCard">
        @if(expensesValue() === 0){
          <app-nothing-yet [type]="expenseTypeCard"></app-nothing-yet>
        }
        @else {
        <app-expenses-chart></app-expenses-chart>
        }
      </app-dashboard-card>
    </mat-grid-tile>


    <!--------------------------- Table --------------------------->
    <!-- <mat-grid-tile [colspan]="( cardLayout$ | async )?.table?.cols" [rowspan]="( cardLayout$ | async )?.table?.rows">
      <app-dashboard-card title="Lançamentos">
        <span>Conteúdo da Tabela aqui</span>
      </app-dashboard-card>
    </mat-grid-tile> -->

  </mat-grid-list>
</div>
