/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --my-primary-color: #2f9c2f;
  --middle-green: #598C58;
  --pale: #DDE8BE;
  --sage: #BFCC98;
  --middle-green-dark: #63734A;
  --button-primary: #AC5D5D;
  --button-primary-hover: #e09c9a;
  --button-secondary: #6002EE;
  --button-secondary-hover: #b794f6;
  --button-white: #fff;
  --button-white-hover: #dbdbdb;
}

.success-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mdc-snackbar__surface {
    background-color: var(--middle-green-dark) !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

.error-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mdc-snackbar__surface {
    background-color: red !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

.custom-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mdc-snackbar__surface {
    background-color: blue !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}
