/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --my-primary-color: #2f9c2f;
  --middle-green: #598C58;
  --pale: #DDE8BE;
  --sage: #BFCC98;
  --middle-green-dark: #63734A;
  --button-primary: #AC5D5D;
  --button-primary-hover: #e09c9a;
  --button-secondary: #6002EE;
  --button-secondary-hover: #c3b7ff;
  --button-white: #fff;
  --button-white-hover: #dbdbdb;
  --button-dark: #222;
  --button-dark-hover: #aaa;
}

.success-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mdc-snackbar__surface {
    background-color: var(--middle-green-dark) !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

.error-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mdc-snackbar__surface {
    background-color: red !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

.custom-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mdc-snackbar__surface {
    background-color: blue !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}


.gradient-totals {
  background: rgb(1, 33, 105);
  background: linear-gradient(90deg, rgb(0, 27, 88) 0%, rgb(0, 51, 151) 35%, rgb(5, 129, 253) 100%);
}

.gradient-expenses {
  background: rgb(102, 0, 0);
  background: linear-gradient(90deg, rgba(102, 0, 0, 1) 0%, rgba(196, 30, 58, 1) 35%, rgba(226, 88, 34, 1) 100%);
}

.gradient-income {
  background: rgb(0, 86, 59);
  background: linear-gradient(90deg, rgba(0, 86, 59, 1) 0%, rgba(1, 135, 73, 1) 35%, rgba(80, 200, 120, 1) 100%);
}
