<div class="grid-container">
  <h1 class="mat-h1">Painel</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">

    <!--Total Card-->
    <mat-grid-tile
     [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows"
    >
      <app-totals-card [type]="expenseTypeCard" [route]="expenseRoute" [value]="expensesValue()" [showRoute]="false" [quantity]="expenseQuantity()"/>
    </mat-grid-tile>

    <!-- Select Month -->
    <mat-grid-tile
     [colspan]="( cardLayout | async )?.monthCard?.cols"
      [rowspan]="( cardLayout | async )?.monthCard?.rows"
    >
      <app-month-selector (monthEvent)="selectMonth($event)"></app-month-selector>
    </mat-grid-tile>

  </mat-grid-list>
</div>
