<div class="grid-container">
  <h1 class="mat-h1">Painel</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">

    <!--Header cards-->

    <mat-grid-tile
     [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows"
    >
      <app-dashboard-header-card [data]="expenseData()" [dataSig]="expenseData" />
    </mat-grid-tile>

    <mat-grid-tile
     [colspan]="( cardLayout | async )?.monthCard?.cols"
      [rowspan]="( cardLayout | async )?.monthCard?.rows"
    >
      <app-month-selector (monthEvent)="selectMonth($event)"></app-month-selector>
    </mat-grid-tile>

    <mat-grid-tile
     [colspan]="( cardLayout | async )?.table?.cols"
      [rowspan]="( cardLayout | async )?.table?.rows"
    >
    <app-expense></app-expense>
    </mat-grid-tile>




  </mat-grid-list>
</div>
