<div class="grid-container">

  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">

    <!--Total Card-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-totals-card [type]="expenseTypeCard" [route]="expenseRoute" [value]="expensesValue()" [showRoute]="false"
        [quantity]="expenseQuantity()" />
    </mat-grid-tile>

    <!-- Select Month -->
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-month-selector (monthEvent)="onSelectMonth($event)" (yearEvent)="onSelectYear($event)"
        [activeMonths]="activeMonths()" [activeYears]="activeYears()"></app-month-selector>
    </mat-grid-tile>

  </mat-grid-list>

  <!-- Expense Table -->
  <app-expenses-table></app-expenses-table>

</div>
