<nav (scroll)="onScroll()" [class]="fixedToolbar?'fixed':'nofixed'">

  <mat-toolbar [color]="fixedToolbar?'primary':''">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>CGA</span>
    <span class="home-spacer"></span>
    <a mat-raised-button color="primary" routerLink="/login" routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
      Login
    </a> &nbsp;
    <a mat-raised-button color="accent" routerLink="/register" routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
      Cadastro
    </a>

    <span >
      <mat-icon matTooltip="Feliz Natal!" class="mat-18">ac_unit</mat-icon>
    </span>
    &nbsp;
    <span >
      <mat-icon matTooltip="Feliz Ano Novo!" class="mat-18">today</mat-icon>
    </span>
  </mat-toolbar>

</nav>

<!-- header section -->
<section class="py-5 py-md-7" id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-md-auto mb-5 mb-md-0 text-center text-md-left">
        <span class="text-uppercase text-muted small-xl">Controle de Gastos Pessoais</span>
        <h1 class="display-4 mt-2 mb-5">A maneira mais rápida e fácil de gerenciar seus gastos.</h1>
        <a href="#" class="btn btn-primary d-inline-flex flex-row align-items-center">
          <em data-feather="shopping-bag" width="20" height="20" class="mr-2"></em>
          Totalmente Grátis!
        </a>
        <a href="#" class="btn btn-secondary d-md-inline-flex flex-row align-items-center d-none show-video">
          <em data-feather="play" width="20" height="20" class="mr-2"></em>
          Faça um teste agora
        </a>
      </div>
      <div class="col-md-6 play-wrapper">
        <img src="img/macbook.png" class="img-fluid d-block mx-auto" alt="MacBook" />
        <div class="play d-flex flex-row align-item-center show-video">
          <em class="icon" data-feather="play"></em>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- features section -->
<section class="py-6" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h2 class="dot-circle">Razões para usar o Gerenciador de Gastos Pessoais:</h2>
        <div class="row mt-6">
          <div class="col-sm-6 mb-5">
            <div class="media">
              <div class="icon-box mt-0 ml-0">
                <div class="icon-box-inner small-xs text-primary">
                  <span data-feather="layers" width="30" height="30"></span>
                </div>
              </div>
              <div class="media-body">
                <h5 class="mt-0">Totalmente Grátis</h5>
                <span class="text-muted">Não será cobrado nenhum valor por qualquer funcionalidade adicional.</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-5">
            <div class="media">
              <div class="icon-box mt-0 ml-0">
                <div class="icon-box-inner small-xs text-primary">
                  <span data-feather="zap" width="30" height="30"></span>
                </div>
              </div>
              <div class="media-body">
                <h5 class="mt-0">Dividido por Categorias</h5>
                <span class="text-muted">Facilidade de saber exatamente onde estão os maiores gastos mensais e
                  anuais</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-5">
            <div class="media">
              <div class="icon-box mt-0 ml-0">
                <div class="icon-box-inner small-xs text-primary">
                  <span data-feather="users" width="30" height="30"></span>
                </div>
              </div>
              <div class="media-body">
                <h5 class="mt-0">Gráficos Mensais</h5>
                <span class="text-muted">O gráfico mensal mostra os gastos de todas as categorias.</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-5">
            <div class="media">
              <div class="icon-box mt-0 ml-0">
                <div class="icon-box-inner small-xs text-primary">
                  <span data-feather="command" width="30" height="30"></span>
                </div>
              </div>
              <div class="media-body">
                <h5 class="mt-0">Gráficos Anuais</h5>
                <span class="text-muted">Mostra um balanço anual de todos os gastos.</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-5">
            <div class="media">
              <div class="icon-box mt-0 ml-0">
                <div class="icon-box-inner small-xs text-primary">
                  <span data-feather="lock" width="30" height="30"></span>
                </div>
              </div>
              <div class="media-body">
                <h5 class="mt-0">Segurança</h5>
                <span class="text-muted">Todos os dados pessoais são criptografados.</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-5">
            <div class="media">
              <div class="icon-box mt-0 ml-0">
                <div class="icon-box-inner small-xs text-primary">
                  <span data-feather="headphones" width="30" height="30"></span>
                </div>
              </div>
              <div class="media-body">
                <h5 class="mt-0">Facilidade</h5>
                <span class="text-muted">Faça o gerenciamento dos gastos de onde estiver.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 mx-auto text-center">
        <h5 class="mb-4">Dúvidas?</h5>
        <a href="#contact" class="btn btn-primary page-scroll">Entre em contato</a>
      </div>
    </div>
  </div>
</section>

<!-- about / reviews section -->
<section class="pb-6" id="about">
  <div class="container">
    <hr class="mt-5" />
    <div class="row my-5">
      <div class="col-md-6 order-2 order-md-1 my-md-auto">
        <h3>Gráficos Mensais.</h3>
        <p class="text-muted lead">
          Acompanhe a qualquer momento todos os seus gastos. Divididos por Categorias e Tipos de Despesas
        </p>
        <a href="#" class="btn btn-primary">Veja Mais</a>
      </div>
      <div class="col-md-6 order-1 order-md-2">
        <img src="img/imac.png" class="img-fluid d-block mx-auto" alt="iMac" />
      </div>
    </div>

    <div class="row mt-7">
      <div class="col-md-6">
        <img src="img/macbook.png" class="img-fluid d-block mx-auto" alt="MacBook" />
      </div>
      <div class="col-md-6 my-md-auto">
        <h3>Gráfico Anual.</h3>
        <p class="text-muted lead">
          Revise a qualquer hora o balanço anual.
        </p>
        <a href="#" class="btn btn-primary">Veja Mais</a>
      </div>
    </div>


  </div>
</section>

<!--pricing section-->
<section class=" pt-6" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h2 class="dot-circle">Sem Planos de Pagamento</h2>
        <p class="text-muted lead">Sem taxas escondidas.</p>
        <div class="row pricing-table mt-5">
          <div class="col-sm-5">
            <ul class="list-unstyled pricing-list">
              <li>
                <h5>Valores</h5>
                <p class="text-muted">Compromisso que nenhuma cobrança será feita.</p>
              </li>
              <li>
                <h5>Acesso Imediato</h5>
                <p class="text-muted">Basta fazer o cadastro.</p>
              </li>
              <li>
                <h5>Acesso Ilimitado</h5>
                <p class="text-muted">Após o cadastro é só começar a usar.</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 ml-auto bg-primary">
            <div class="card">
              <div class="card-body text-center">
                <p class="h1 text-white">Grátis!</p>
                <p class="text-light">Para Você</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--help section-->
<section class=" mt-7" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h2 class="dot-circle">Dúvidas Comuns</h2>
        <p class="text-muted lead">Estamos à disposição para sanar qualquer dúvida.</p>

        <div class="row mt-5">
          <div class="col-md-6 mb-5">
            <h6>O acesso continuará grátis?</h6>
            <p class="text-muted">Sim. Não cobramos nenhum plano pago.</p>
          </div>
          <div class="col-md-6 mb-5">
            <h6>O sistema tem alguma taxa escondida para algum serviço oferecido?</h6>
            <p class="text-muted">Não. Todos os serviços oferecidos são totalmente grátis.</p>
          </div>
          <div class="col-md-6 mb-5">
            <h6>Que dados preciso informar.</h6>
            <p class="text-muted">O cadastro é bem simples. Nenhuma informação sensível será exigida.</p>
          </div>
          <div class="col-md-6 mb-5">
            <h6>O sistema é atualizado com frequência?</h6>
            <p class="text-muted">Sim. Sempre mantemos o sistema atualizado. Além de fornecer novas funcionalidades para
              atender as demandas dos clientes.</p>
          </div>
          <div class="col-md-6 mb-5">
            <h6>E se eu tiver alguma dúvida?</h6>
            <p class="text-muted">Basta acessar o sistema e entrar no link "Dúvidas e Sugestões.</p>
          </div>
          <div class="col-md-6 mb-5">
            <h6>O que é necessário para entrar em contato?</h6>
            <p class="text-muted">Basta acessar o sistema e entrar no link de Suporte.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--footer / contact-->
<footer class="mt-5 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 my-auto text-center text-md-left">
        &copy;2023 Controle de Gastos Pessoais.
      </div>
      <div class="col-md-4 text-center">
        <ul class="list-inline social social-white-alt social-rounded social-sm mb-0">
          <li class="list-inline-item">
            <a href=""><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href=""><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href=""><i class="fa fa-google-plus"></i></a>
          </li>
          <li class="list-inline-item">
            <a href=""><i class="fa fa-dribbble"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-center text-md-right mb-0">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacidade</a></li>
          <li class="list-inline-item"><a href="#">Termos</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-muted text-center small">
        Powered by &copy; Snap - All Rights Reserved
      </div>
    </div>
  </div>
</footer>



<!--scroll to top-->
<div class="scroll-top">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
