<div class="sidenav-header">
  <button mat-fab [class.width]="profilePicSize()" [matTooltip]="user ? user.name : ''">
    <span> {{ getSymbol() }} </span>
  </button>
  <!-- <img [width]="profilePicSize()" [height]="profilePicSize()" src="/assets/images/profile-me.jpg"> -->
  <div class="header-text" [class.hide-header-text]="sidenavCollapsed()">
    <h2> {{ user.name }}</h2>
    <p>{{ user.role }}</p>
  </div>
</div>
<mat-nav-list>
  <a mat-list-item class="menu-item" *ngFor="let item of menuItems()" [routerLink]="item.route"
    routerLinkActive="selected-menu-item" #rla="routerLinkActive" [activated]="rla.isActive">
    <mat-icon [fontSet]="rla.isActive ? 'material-icons':'material-icons-outlined'" matListItemIcon> {{ item.icon }}
    </mat-icon>
    @if (!sidenavCollapsed()) {
    <span matListItemTitle> {{ item.label }} </span>
    }
  </a>
</mat-nav-list>
